<section id="contact">
    <div class="center mw1140p txtcenter">
        <h2>Contact</h2>
        <form action="http://formspree.io/you@email.com" class="w50 center">
            <label for="email">Email</label>
            <input type="email" id="email" name="_replyto">
            <label for="message">Message</label>
            <textarea name="body" id="message"></textarea>
            <input class="flr" type="submit" value="Envoyer">
        </form>

        <ul class="social-list">
            <li>
              <a href="" class="btn"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a>
            </li>

            <li>
              <a href="" class="btn"><i class="fa fa-facebook fa-fw"></i> <span>Facebook</span></a>
            </li>

            <li>
              <a href="" class="btn"><i class="fa fa-stack-overflow fa-fw"></i> <span>Google +</span></a>
            </li>
        </ul>
    </div>
</section>