<footer>
    <div class="center mw1140p txtcenter">
        <p>Copyright &copy; CapturAlta 2015</p>
    </div>
</footer>

 <!-- jQuery Version 1.11.0 -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap ~ Just the Need ~ JavaScript -->
<script src="/js/scrollspy.js"></script>
<script src="/js/collapse.js"></script>

<!-- Plugin Scroll JavaScript -->
<script src="/js/easing.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/main.js"></script>
<script src="/js/rAF.js"></script>
<script src="/js/canvas-animation.js"></script>

