<header id="animatedHeader" class="intro">
    <canvas id="canvas-animation"></canvas>
    <div class="content-int center mw1140p txtcenter">
        <div class="block-header">
            <h1 class="">CapturAlta</h1>
            <p class="intro-text">« La vision est l’art de voir les choses invisibles »</p>
            <a href="#about" class="btn-circle page-scroll">
                <img src="/img/btn-circle-drone.svg" alt="à propos">
            </a>
        </div>        
    </div>
</header>