<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-scroll">
     <!-- Navigation -->
    {% include nav.html %}
    <!-- Intro Header -->
    {% include header.html %}
    <!-- About Section -->
    {% include about.html %}
    <!-- Prestation Section -->
    {% include prestation.html %}
    <!-- Contact Section -->
    {% include contact.html %}
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    {% include footer.html %}
  </body>     

</html>
